
body {
    margin:0;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: #333333;
    display: flex;
    height: 50px;
    justify-content: flex-end;
}

nav a{
    font-family: Arial;
    display: block; 
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover{ 
    color: #666;
}

nav a.now {
    background: dimgray;
}

nav a.now:hover{
    color: black;
}

header {
    display: flex;
    text-align: center;
    background-color: black;
}

header h1 {
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    color:#FFDE59;
}

.container {
    background-color: #262626;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 70px 270px 70px 270px;
    text-align: center;
}

.container h1 {
    font-family: Arial;
    font-weight: bold; 
    color: white;
    font-size: 35px;
}

.container img { 
    width: 716px;
    height: 403px;
    margin: auto;
}

.container p { 
    color: white; 
    font-family: Courier;
    font-size: 16px;
    margin: 30px 40px 35px 40px;
}

hr { 
   width: 800px;
   height: 3px; 
   background: white;
}

.container a { 
    text-decoration: none;
    color: white; 
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px;
}

.container a:hover {
    text-decoration: underline;
    color:#FFDE59;
}

footer {
    font-family: Arial;
    padding: 20px;
    text-align: center;
    background:darkgrey;
}

footer h4{
    margin-bottom: 50px;
}

.socmeds ul {
    padding: 0; 
    margin: 0; 
}

.socmeds ul li {
    list-style-type: none;
    display: inline-block;
}

.socmeds ul li a { 
    background-image: url(../images/socmeds.png);
    background-size: 190px 50px;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    display: inline-block;
}

.socmeds ul li.gmail a {
    background-position: -50px 0px;
}

.socmeds ul li.twt a {
    background-position: -99px 0px;
}

.socmeds ul li.ig a {
    background-position: -149px 0px;
}

footer .references a {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

.references a:hover {
    color: white;
}
